@import "tailwindcss";

:root {
  --background: #171a1c;
  --foreground: #c7c7c7;
  --header-bg: rgb(23, 25, 26);
  --post-bg: #15181a;
  --primary-border: #1a2b3c;
  --submit: #1a66e8;
  --error: #ff4d4d;
  --login: #c0341e;
  --sign: #2e63be;
  --link: #497ace;
  --logout: #db110e;
  --profile: #141718;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-header-bg: var(--header-bg);
  --color-post-bg:  var(--post-bg);
  --color-primary-border: var(--primary-border);
  --color-submit: var(--submit);
  --color-error: var(--error);
  --color-login: var(--login);
  --color-sign: var(--sign);
  --color-link: var(--link);
  --color-logout: var(--logout);
  --color-profile: var(--profile);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #171a1c;
  --foreground: #b5b9e1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}