@import "tailwindcss";

:root {
  --background: #000c24;
  --foreground: #e6e6e6;
  --header-bg: #101c22;
  --post-bg: #121f29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-header-bg: var(--header-bg);
  --color-post-bg:  var(--post-bg);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0c161b;
  --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}
